
.body-container-3{
    display: none;
    color: white;
}

/* extra small devices */
@media only screen and (max-width: 575.98px) {
    .body-container-3 {
        grid-template-rows: 15vh 5vh 35vh 15vh 25vh 20vh 10vh;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .body-container-3 {
        grid-template-rows: 15vh 5vh 35vh 15vh 25vh 20vh 10vh;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .body-container-3 {
        grid-template-rows: 15vh 5vh 35vh 15vh 25vh 20vh 10vh;
        width: 70%;
        font-size: 1.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .body-container-3 {
        grid-template-rows: 15vh 5vh 35vh 15vh 25vh 20vh 10vh;
        width: 70%;
        font-size: 1.5rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body-container-3 {
        grid-template-rows: 15vh 5vh 35vh 15vh 25vh 20vh 10vh;
        width: 70%;
        font-size: 1.5rem;
    }
}
header{
    color: white;
    display:grid;
    grid-template-columns: 25% 50% 25%;
    margin-left: 15px;
}
.header-nav{
    display: flex;
    align-items: center;
}
.center{
    justify-content: center;
}
#left3{
    color: white;
    font-size: 1.4rem;
    
}
#summary{
    color: #00ffb4 ;
    font-weight: 700;
    margin-left: 15px;

}
/* extra small devices */
@media only screen and (max-width: 575.98px) {
  #summary {
        font-size: 0.85rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #summary {
        font-size: 0.85rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #summary {
        font-size: 1.2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #summary {
        font-size: 1.2rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #summary {
        font-size: 1.2rem;
    }
}
.total-summary{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px;
    margin-left: 15px;


}
.paragraph-summary{
    font-weight: 700;
}
.margin{
    margin-left: 10px;
}
.initial{
    color: #45545a;
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 700;
}

.total-border{
    border: none;
    border-top: 3px solid #45545a;
    padding-left: 5px;
    padding-top: 10px ;
}
#split-container{
    display: grid;
    grid-template-columns: 6fr 6fr ;
}
#splitgeneral{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.split-box{
    height: 35px;
    width: 35px;
    background-color: #45545a;
    color: white;
}
.split-box:focus{
    background-color: #00ffb4;
    color: black;
}
#split{
    font-size: 0.85rem;
    color: #00ffb4 ;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #split{
          font-size: 0.85rem;
      }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      #split{
          font-size: 0.85rem;
      }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
     #split{
          font-size: 1.2rem;
      }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
       #split{
          font-size: 1.2rem;
      }
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      #split{
          font-size: 1.2rem;
      }
  }
.split-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    outline: 0;
}
button:focus{
    border: none;
    outline: 0;
}
#suggest{
    color: #00ffb4 ;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;

}
/* extra small devices */
@media only screen and (max-width: 575.98px) {
    #suggest{
          font-size: 0.85rem;
      }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
      #suggest{
          font-size: 0.85rem;
      }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
     #split{
          font-size: 1.2rem;
      }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
       #suggest{
          font-size: 1.2rem;
      }
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      #suggest{
          font-size: 1.2rem;
      }
  }
#amount{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
}
#amount-paragraph{
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;

}
#suggest-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#range-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 70%;
    -webkit-appearance: none;
}
input:focus{
  outline: 0;
}
#range::-webkit-slider-runnable-track{
    background-color: #45545a;
    height: 3px;
    border-radius: 20px;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
}
#range::-moz-range-track{
    background-color: #45545a;
    height: 3px;
    border-radius: 20px;
    border: 1px solid transparent;
}
#range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #00ffb4;
    width: 25px;
    height: 25px;
    margin-top: -14px;
    border-radius: 50%;
    cursor: pointer;
}
#range::-moz-range-thumb{
    -webkit-appearance: none;
    background-color: #00ffb4;
    width: 25px;
    height: 25px;
    margin-top: -14px;
    border-radius: 50%;
    cursor: pointer;
}
#last-button{
   width: 100%;
   height: 100%;
   border: none;
   outline: 0;
   background-color: #00ffb4;
   padding: 10px 0px;
   font-weight: 700;
   font-size: 1rem;
}
#last-button:focus{
    border: none;
    outline: 0;
 }
#footer-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
#rangeresult{
    background-color: white;
    height: 30px;
    width: 50px;
    color: #45545a;
    border-radius: 3px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}